body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    /* Permite desplazamiento horizontal en pantallas pequeñas */
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1B0C0A;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button,
.back-button,
.new-order-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1B0C0A;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover,
.back-button:hover,
.new-order-button:hover {
    background-color: #74623c;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #1B0C0A;
    color: #fff;
}

/* Consultas de medios para dispositivos más pequeños */
@media (max-width: 768px) {
    
    .container {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    .button, .back-button, .new-order-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
        overflow-x: auto;
    }

    th, td {
        padding: 8px;
    }

    .button, .back-button, .new-order-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}