<nav>
    <div class="logo">
        <a href="/" class="logo-link">
            <img src="/public/assets/img/logo-removebg-preview.png" alt="Logo" class="logo-image" />
            <h1>Café Sabrosos</h1>
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/public/local.html">Locales</a></li>
        <li><a href="/public/tienda.php">Tienda</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Reservas</a></li>
        <li><a href="/public/contactos.html">Contacto</a></li>
        <li>
            <a href="/public/cuenta.php"><img src="/public/assets/img/image.png" alt="Usuario" class="user-icon" /></a>
        </li>
        <div class="cart">
            <a href="carrito.html">
                <img src="/public/assets/img/cart.png" alt="Carrito" />
                <span id="cart-counter" class="cart-counter">0</span>
            </a>
        </div>
    </ul>
</nav>