body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/public/assets/img/contactos-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Monterrat', sans-serif;
}
/* Estilos del contenido principal */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.wrapper {
  max-width: 600px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 100px auto 100px auto;
}

.wrapper h1 {
  margin-bottom: 25px;
  font-size: 32px;
  color: #141010;
}

.input-box {
  margin-top: 20px;
}

.feedback-input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
}

.feedback-input:focus {
  border-color: #b8860b;
  outline: none;
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: #daa520;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #1b0d0b;
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {

  .wrapper {
    padding: 20px;
  }

  .wrapper h1 {
    font-size: 24px;
  }

  .feedback-input,
  .btn {
    font-size: 14px;
    padding: 10px;
  }

}

@media (max-width: 480px) {

  .wrapper {
    padding: 15px;
  }

  .wrapper h1 {
    font-size: 20px;
  }

  .feedback-input,
  .btn {
    font-size: 12px;
    padding: 8px;
  }
  #message{
    height: 80px;
  }

}

/* Asegúrate de que el menú desplegable de categorías esté oculto inicialmente */
#mobile-category-dropdown {
  display: none;
}

/* Mostrar el menú desplegable de categorías cuando esté abierto */
#mobile-category-dropdown.open {
  display: block;
}
