.content {
    flex: 1;
    /* Permite que el contenido ocupe el espacio restante */
    padding: 20px;
}

.cookie-footer {
    background-color: #1B0D0B;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: -100px;
    /* Inicia fuera de la vista */
    left: 0;
    right: 0;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    opacity: 0;
    /* Inicia con opacidad 0 */
    transition: bottom 0.5s ease, opacity 0.5s ease;
    /* Transiciones para el movimiento y opacidad */
}

.cookie-footer.show {
    bottom: 0;
    /* Se mueve hacia arriba */
    opacity: 1;
    /* Se vuelve visible */
}

.p-cookie{
    color: #daa520;
    margin: 15px;
}

.cookie-footer .cookie-button {
    border: 2px solid #daa520;
    color: #daa520;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    /* Espaciado entre botones */
}

.cookie-footer .cookie-button:hover {
    background-color: #daa520;
    /* Efecto hover */
    color: #1B0D0B;
}


.modal-cookie {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    z-index: 1001;
    /* Por encima del footer */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Iniciar con opacidad 0 */
    transition: opacity 0.5s ease;
    /* Transición de opacidad */
}

.modal-cookie.show {
    display: flex;
    /* Mostrar el modal */
    opacity: 1;
    /* Cambiar a opacidad 1 */
}

.modal-content-cookie {
    background-color: #1B0D0B;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    /* Ancho máximo del modal */
    position: relative;
}

.close-modal-cookie {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    color: #daa520;
    font-size: 42px;
}

.close-modal-cookie:hover {
    color: white;
}

.modal-cookie p,
ul {
    color: white;
}
.cookie-title{
    color:#daa520;
}