nav ul {
    background-color: #14120c; /* Cambia el color de fondo según tu preferencia */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px; /* Ajuste para pantallas grandes */
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden; /* Ajuste para bordes redondeados */
}

nav ul li {
    margin-left: 10px; /* Espaciado más pequeño */
    margin-right: 10px; /* Espaciado más pequeño */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #320; /* Color de fondo al hacer hover */
    color: #ffffff; /* Color de texto al hacer hover */
    border-radius: 20px;
}

.menu-toggle {
    display: none; /* Ocultar el icono de menú por defecto en pantallas grandes */  
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

/* Medias Queries para tamaños de pantalla */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Ocultar el menú ul en pantallas pequeñas por defecto */
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #14120c;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        z-index: 1000; /* Asegurar que esté por encima del contenido */
    }

    nav ul.open {
        display: flex; /* Mostrar el menú cuando está abierto */
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        width: 100%;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 20px;
        display: block;
    }

    .menu-toggle {
        display: block; /* Mostrar el icono de menú en pantallas pequeñas */
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }