   /* Modal de eliminar cuenta - cuenta */
   .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.modal-content h2 {
    color: #b8860b;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 195px;
}

#confirmDeleteBtn {
    background-color: #e74c3c;
    color: white;
}

#cancelDeleteBtn {
    background-color: #b8860b;
    color: white;
}

form#deleteAccountForm {
    margin-right: 1vh;
    display: flex;
    justify-content: space-between;
}

.modal-content p a {
    color: #b8860b;
}

.modal-content p a:hover {
    color: #333;
}

@media (max-width: 768px) {
    .modal-content {
        margin: 50% auto;
        width: 85%;
    }

    .modal-buttons {
        flex-direction: column;
    }

    .modal-buttons button {
        width: 100%;
        max-width: none;
        margin-top: 10px;
    }

    form#deleteAccountForm {
        margin-right: 0;
        display: flex;
    }
}

.profile-container {
    padding: 18px;
}

/* Styles for the second modal */
#codeVerificationModal .modal-content {
    background-color: #f9f9f9;
}

#codeVerificationModal input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#codeVerificationModal #verifyCodeBtn {
    background-color: #b8860b;
    color: white;
}

#codeVerificationModal #cancelCodeVerificationBtn {
    background-color: #e74c3c;
    color: white;
}

#generatedCode {
    user-select: none;
    /* Evita que el texto sea seleccionado */
}

.back-button {
    border: none;
    font-size: 18px;
    color: #b8860b;
    background-color: #f9f9f9;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: underline;
}

.back-button:hover {
    background-color: #f9f9f9;
    color: #b8860b;
}
  


  