@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
    
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Gris muy claro */
  color: #333333; /* Gris oscuro */
  font-family: 'Montserrat', sans-serif;
}
.container {
max-width: 100%;
overflow-x: hidden;
}

.feedback-container {
  max-width: 600px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feedback-container h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: 'Poppins';
}

.star-rating {
  text-align: center;
  margin-bottom: 20px;
}

.star-rating .fas {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

textarea {
  font-family: 'Poppins';
  width: 100%;
  height: 120px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  resize: none;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

textarea:focus {
  border-color: #e0a80d;
  box-shadow: 0 0 5px rgba(224, 168, 13, 0.5);
  outline: none;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #e0a80d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #d19308;
  transform: translateY(-2px);
}

button:active {
  background-color: #c18506;
  transform: translateY(0);
}
.swiper-container {
width: 100%;
padding: 20px 0;
box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
overflow: hidden; /* Evita el desbordamiento del contenedor */
margin-bottom: 70px;
}

.swiper-slide {
box-sizing: border-box; /* Asegura que el padding interno no cause desbordamiento */
}

.feedback-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.feedback-card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.feedback-card p {
    font-size: 1em;
    margin-bottom: 10px;
}

.stars {
    font-size: 1.5em;
    color: #FFD700; /* color dorado para las estrellas */
}
footer {
    background-color: #DAA520;
    /* Dorado */
    color: #1B0D0B;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
footer p{
    margin-top: 16px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    margin-bottom: 20px;
    text-align: center;
}

.footer-section h3 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #1B0D0B;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #333;
}
.footer-section h3{
    margin-top: 24px;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.socials a {
    color: #1B0D0B;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #333;
}

.footer-bottom {
    background-color: #1B0D0B;
    /* Marrón oscuro */
    padding: 20px 0;
    width: 100%;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer-section {
        flex: 1;
        padding: 0 20px;
    }

    
}
@media (max-width: 768px) {
    .nav-links {
        display: block !important;
        /* Alinea verticalmente los elementos de la lista */
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 3vh;
    }
}