@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Gris muy claro */
    color: #333333; /* Gris oscuro */
    font-family: 'Montserrat', sans-serif;
}

/* Header Styles */
header {
    position: relative;
    height: 100vh; /* Altura del header */
    background-image: url('/public/assets/img/tienda-background.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen cubrirá todo el header */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    overflow: hidden;
}


.image-link {
    display: block;
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.image-container {
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
}

.image-container img {
    width: 100%;
    height: auto;
}
.user-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.header-content {
    position: absolute;
    top: 37%;
    right: 18%;
    transform: translateY(-50%);
    text-align: center;
}

.header-content .top-subtitle {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #DAA520;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content .subtitle {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    color: white;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.header-buttons .btn {
    font-family: 'Poppins';
    font-weight: 600;
    display: inline-block;
    padding: 7px 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: white;
    background-color: #653508; /* Color dorado */
    border-radius: 18px;
    border-style: solid;
    border-width: 3px;
    border-color: #DAA520;
    text-decoration: none;
    transition: background-color 0.3s ease;
    flex: 1; /* Hace que todos los botones tengan el mismo ancho */
    text-align: center;
    max-width: 80px; /* Controla el ancho máximo de los botones */
}

.header-buttons .btn:hover {
    background-color: #DAA520; /* Color dorado más oscuro */
}
.user-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

nav {
    display: flex;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro */
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    /* Asegura que el padding no cause desbordamiento */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    /* Transición del color */
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    /* Altura de la línea */
    bottom: -5px;
    /* Posición de la línea debajo del texto */
    left: 0;
    background-color: #b8860b;
    /* Color de la línea */
    transform: scaleX(0);
    /* Inicialmente no visible */
    transition: transform 0.3s ease;
    /* Transición de la línea */
}

nav ul li a:hover {
    color: #b8860b;
    /* Cambia el color del texto al pasar el ratón */
}

nav ul li a:hover::after {
    transform: scaleX(1);
    /* Muestra la línea al pasar el ratón */
}

.logo {
    display: flex;
    align-items: center;
    /* Alinea verticalmente al centro */
    margin-left: 4vh;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}

.logo img {
    width: 70px;
    /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px;
    /* Espacio entre el logo y el texto */
}

.logo-link h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #FFF, #b8860b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos de la lista */
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 3vh;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.nav-links a:hover {
    color: #b8860b;
    /* Color dorado al pasar el cursor */
}

.cart {
    position: relative;
}

.cart img {
    width: 30px;
    height: 30px;
}

.cart-counter {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #8B4513;
    /* Marrón */
    color: #ffffff;
    /* Blanco */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
.title-container {
    text-align: center;
    margin-bottom: 20px; /* Espacio debajo del título */
    width: 100%; /* Asegura que el contenedor tenga el mismo ancho que el contenido principal */
}
.main-category-title {
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
    font-size: 64px;
    color: #1E1E1E;
    margin-bottom: 20px; /* Espacio debajo del título */
    margin: 0; /* Sin margen izquierdo */
}

/* Contenedor principal para centrar el contenido en relación con el grid */
.main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

/* Main Content Layout */
.content-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1200px;
}

/* Title Styles */
h1 {
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
    font-size: 64px;
    color: #1E1E1E;
    margin-bottom: 20px; /* Espacio debajo del título */
    margin: 0;
    margin-left: 30vh;
}

/* Main Content Layout */
.main-content {
    display: flex;
    width: 100%;
}

/* Sidebar Styles */
/* Sidebar Styles */
.sidebar {
    width: 20%;
    background-color: #ffffff; /* Blanco */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px;
}

.sidebar h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

/* Category Item Styles */
.category-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.category-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.category-item p {
    font-family: 'Poppins';
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin: 0;
}

/* Hover Effect for Category Items */
.category-item:hover {
    background-color: #F2C960; /* Fondo dorado al pasar el mouse */
    color: #ffffff; /* Color de texto blanco para mejor contraste */
}

/* Highlight Selected Category */
.category-item.selected {
    background-color: #F2C960; /* Fondo dorado para la categoría seleccionada */
    color: #ffffff; /* Color de texto blanco para mejor contraste */
}

/* Main Content Layout */
.main-content {
    display: flex;
    margin: 0 auto; /* Centra el contenido principal */
}

/* Product Grid Styles */
.product-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
    margin: 0 auto; /* Centra la cuadrícula */
    max-width: 1200px; /* Ancho máximo de la cuadrícula */
    margin-bottom: 5vh;
}

.product-item {
    text-align: center;
    margin: 0 auto 20px; /* Centra cada item y agrega margen inferior */
}

.image-container {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 256px; /* Ancho fijo de 256px */
    height: 256px; /* Alto fijo de 256px */
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen para llenar el contenedor */
}

.product-item h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    color: #333;
    margin-top: 15px; /* Espacio entre la imagen y el texto */
    text-align: center;
    justify-content: center;
    margin: 10px 10px;
}

.product-item:hover .image-container {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor en la imagen */
}
/* Footer Styles */
footer {
    background-color: #DAA520; /* Dorado */
    color: #1B0D0B;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    margin-bottom: 20px;
    text-align: center;
}

.footer-section h3 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #1B0D0B;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #333;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.socials a {
    color: #1B0D0B;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #333;
}

.footer-bottom {
    background-color: #1B0D0B; /* Marrón oscuro */
    padding: 20px 0;
    width: 100%;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .footer-section {
        flex: 1;
        padding: 0 20px;
    }
}

