@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

root {
  /* --background: #ffffff; */
  /* --foreground: #202020; */
  --card: #ffffff;
  --card-foreground: #202020;
  --primary: #181818;
  --primary-foreground: #fefefe;
  --secondary: #f4f4f4;
  --secondary-foreground: #181818;
  --muted: #f4f4f4;
  --muted-foreground: #737373;
  --accent: #f4f4f4;
  --accent-foreground: #181818;
  --destructive: #d32f2f;
  --destructive-foreground: #fefefe;
  --border: #e0e0e0;
  /* --input: #e0e0e0; */
  --ring: #181818;
  --radius: 0.5rem;
}
* {
    box-sizing: border-box;
}

/* Basic Styling */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.user-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

nav {
    margin-bottom: 100px;
    display: flex;
    background-color: #1B0D0B;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    /* Asegura que el padding no cause desbordamiento */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    /* Transición del color */
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    /* Altura de la línea */
    bottom: -5px;
    /* Posición de la línea debajo del texto */
    left: 0;
    background-color: #b8860b;
    /* Color de la línea */
    transform: scaleX(0);
    /* Inicialmente no visible */
    transition: transform 0.3s ease;
    /* Transición de la línea */
}

nav ul li a:hover {
    color: #b8860b;
    /* Cambia el color del texto al pasar el ratón */
}

nav ul li a:hover::after {
    transform: scaleX(1);
    /* Muestra la línea al pasar el ratón */
}

.logo {
    display: flex;
    align-items: center;
    /* Alinea verticalmente al centro */
    margin-left: 4vh;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}

.logo img {
    width: 70px;
    /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px;
    /* Espacio entre el logo y el texto */
}

.logo-link h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #FFF, #b8860b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos de la lista */
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 3vh;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.nav-links a:hover {
    color: #b8860b;
    /* Color dorado al pasar el cursor */
}

.cart {
    position: relative;
}

.cart img {
    width: 30px;
    height: 30px;
}

.cart-counter {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #8B4513;
    /* Marrón */
    color: #ffffff;
    /* Blanco */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

footer {
    margin-top: 100px;
    background-color: #DAA520;
    /* Dorado */
    color: #1B0D0B;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}

.footer-section {
    margin-bottom: 20px;
    text-align: center;
}

.footer-section h3 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #1B0D0B;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #333;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.socials a {
    color: #1B0D0B;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #333;
}

.footer-bottom {
    background-color: #1B0D0B;
    /* Marrón oscuro */
    padding: 20px 0;
    width: 100%;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer-section {
        flex: 1;
        padding: 0 20px;
    }
}

.language-btn {
    margin-left: 15px;
    background-color: #1B0D0B;
    /* Fondo inicial del botón */
    border: 2px solid #b8860b;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.language-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    /* Color de la sombra */
    border-radius: 50%;
    transition: transform 0.5s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: 0;
}

.language-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.language-btn:hover {
    background-color: #b8860b;
    /* Fondo del botón al pasar el cursor */
    color: #1B0D0B;
    /* Color del texto al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra del botón al pasar el cursor */
}

.language-btn:focus {
    outline: none;
}

.language-btn span {
    position: relative;
    z-index: 1;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (min-width: 768px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

.back-link {
  margin-bottom: 16px;
  display: ruby;
}

.back-link a {
  color: var(--primary);
  text-decoration: none;
}

.back-link a:hover {
  text-decoration: underline;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image-container {
  flex: 1;
  display: flex;
}

.product-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: var(--radius);
}

.details-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-category {
  margin-top: 35px;
  font-size: 12px;
  text-decoration: underline;
  margin-bottom: 8px;
  color: #1B0C0A;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description {
  color: var(--muted-foreground);
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.quantity {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-outline {
  border: 1px solid var(--border);
  padding: 8px;
  border-radius: var(--radius);
  cursor: pointer;
  background-color: #DAA520;
}

.btn-lg {
  padding: 16px;
  font-size: 1rem;
  background-color: #daa520;
  color: #181818;
  border-radius: var(--radius);
  cursor: pointer;
  border: none;
}

.btn-lg.btn-outline {
  background-color: lightgrey;
  color: var(--primary);
  border: 1px solid var(--border);
}

.product-info {
  position: relative;
  padding: 16px;
}

.payment-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 16px;
  position: relative;
}

.payment-text {
  margin: 0;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
  margin-left: 16px;
  /* Espacio entre el texto y el botón */
}

.payment-images {
  display: none;
  margin-top: 8px;
  font-size: 20px;
  position: absolute;
  /* Asegura que se ubique debajo del contenedor principal */
  left: 0;
  right: 0;
}

.payment-images i {
  margin-right: 10px;
}

.payment-info-container.active .toggle-btn {
  transform: rotate(180deg);
}

.payment-info-container.active .payment-images {
  display: flex;
}

.action-buttons {
  display: grid;
  gap: 15px;
  margin-top: 2vh;
}
@media (max-width: 768px) {
  .nav-links {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: 3vh;
  }
}
.card {
  border-radius: var(--radius);
  /* border: 1px solid var(--border); */
  /* background-color: var(--card); */
  color: var(--card-foreground);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  width: 100%;
  /* max-width: 30rem; */
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-bottom: 0;
  padding-left: 0;
  /* justify-content: center; */
}

.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--radius);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  border: none;
  background: transparent;
  color: var(--foreground);
  margin-right: 1rem;
  transform: rotate(90deg);
}

.back-button:hover {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.icon {
  font-size: 1.5rem;
  transition: transform 0.5s ease;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  cursor: pointer;
  /* Indica que es clicable */
  transition: color 0.2s;
}

h3:hover {
  color: var(--accent);
}

.content {
  padding: 1.5rem;
  padding-top: 5px;
}

.buttons {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.buttons.show {
  opacity: 1;
  transform: translateY(0);
}

.payment-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 3.5rem;
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--input);
  background-color: var(--background);
  color: var(--foreground);
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

.payment-button:hover {
  background-color: var(--muted);
  color: var(--accent-foreground);
}

.payment-button .icon {
  font-size: 2.5rem;

}

.fa-chevron-left:before {
  content: "\f053";
  color: #DAA520;
}

.payment-button span {
  margin-top: 0.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.payment-button .fa-cc-visa {
  color: #1a1f71;
  /* Color de Visa */
}

.payment-button .fa-cc-mastercard {
  color: #f79c1f;
  /* Color de Mastercard */
}

.payment-button .fa-paypal {
  color: #003087;
  /* Color de PayPal */
}

.payment-button .fa-cc-amex {
  color: #2b77a0;
  /* Color de American Express */
}

.payment-button .fa-google-pay {
  color: #4285f4;
  /* Color de Google Pay */
}

.payment-button .fa-apple-pay {
  color: #000000;
  /* Color de Apple Pay */
}