@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease;
    
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 80px; /* Aumenta el margen para pantallas pequeñas */
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        padding: 10px; /* Reduce el padding */
    }

    .header-content {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea a la izquierda */
    }

    .nav-links {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        width: 100%; /* Ocupa todo el ancho */
        margin-top: 10px; /* Espacio entre logo y enlaces */
    }

    .nav-links li {
        margin: 5px 0; /* Espacio vertical entre enlaces */
    }

    .logo {
        margin-left: 10%;
        margin-right: 20%;
    }

    .logo h1 {
        font-size: 20px; /* Reduce el tamaño del texto en pantallas pequeñas */
    }

    .user-icon {
        width: 30px; /* Reduce el tamaño del icono de usuario */
        height: 30px;
    }
}
@media (max-width: 768px) {
    nav {
        padding: 20px 10px; /* Aumenta el padding superior para agregar espacio */
    }
}

/* Estilos para el contenido del carrusel */
.carousel-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: white;
    padding: 0 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.carousel-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}

.carousel-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    margin: 0 10px;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.buttons a:hover {
    background-color: #b8860b; /* Color dorado */
    border-color: #b8860b;
}

/* Estilos para el carrusel */
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2ms ease-in-out; /* Transición de opacidad */
}

.carousel-item.active {
    opacity: 1;
    z-index: 1;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transition-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transición de opacidad */
    z-index: 2;
}

.transition-layer.show {
    opacity: 1;
}

.carousel-indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.carousel-indicators .indicator {
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.carousel-indicators .indicator.active {
    background: rgba(255, 255, 255, 1);
}
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-content h1 {
            margin-top: 50%;
            font-size: 35px;
            margin-bottom: 20px;
            font-family: 'Poppins';
            font-weight: 500;  
    }
    nav {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        padding: 10px; /* Reduce el padding */
    }

    .header-content {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea a la izquierda */
    }

    .nav-links {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        width: 100%; /* Ocupa todo el ancho */
        margin-top: 10px; /* Espacio entre logo y enlaces */
    }

    .nav-links li {
        margin: 5px 0; /* Espacio vertical entre enlaces */
    }

    .logo {
        margin-left: 10%;
        margin-right: 20%;
    }

    .logo h1 {
        font-size: 20px; /* Reduce el tamaño del texto en pantallas pequeñas */
    }

    .user-icon {
        width: 30px; /* Reduce el tamaño del icono de usuario */
        height: 30px;
    }

    /* Añade margen superior para evitar que el contenido choque con el nav */
    .main-content {
        margin-top: 80px; /* Ajusta según el tamaño del nav */
    }
}
